<template>
  <!-- Info -->
  <div class="container">
    <div class="row">
     <div class="col-sm-8 text-center col-sm-offset-2 col-md-6 col-md-offset-3">
       <div class="alert alert-info info" @click="showInfoText()">
         Contribute to Uttarakhand Tourism, edit above info.
       </div>
     </div>
   </div>
   <div class="row" v-show="editTextArea">
     <div class="row">
       <div class="form-group col-sm-8 col-xs-10 text-center col-xs-offset-1 col-md-6 col-sm-offset-2 col-md-offset-3">
         <label for="info" class="pull-left">Write the info:</label>
         <textarea class="form-control" rows="5" id="comment" v-model="infoText"></textarea>
       </div>
     </div>
     <div class="row">
       <div class="row">
          <div class="col-xs-12 col-xs-offset-1 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-3">
            <label for="info">instagram username</label>
          </div>
       </div>
       <div class="row">
         <div class="col-xs-5 col-xs-offset-1 col-sm-4 text-center col-md-3 col-sm-offset-2 col-md-offset-3">
           <input class="form-control" type="text" v-model="username"/>
         </div>
         <div class="col-xs-5 col-sm-4 text-center col-md-4">
           <button type="submit"class="btn btn-primary" @click="infoText=''">Clear</button>
           <button type="submit"class="btn btn-primary" @click="submitInfo">Submit</button>
         </div>
         <!--div class="col-xs-2 col-sm-2 text-center col-md-2">
           <button type="submit"class="btn btn-primary pull-left" @click="submitInfo">Submit</button>
         </div-->
      </div>
     </div>
   </div>
   <div class="row" v-show="showmessage">
     <div class="col-sm-8 text-center col-sm-offset-2 col-md-6 col-md-offset-3">
       <div class="alert alert-info info">
         {{ submitMessage }}
       </div>
     </div>
   </div>
  </div>
</template>

<script>
export default{
  data : function(){
    return {
      editTextArea : false,
      infoText : '',
      username : '',
      submitInfoUrl: 'http://node.uttarakhandtraveller.com/places/info/',
      //submitInfoUrl: 'http://localhost:3000/places/info/',
      submitMessage: 'Sending...',
      showmessage : false
    }
  },
  props : ['pbtId'],
  methods :{
    submitInfo(){
      if(this.infoText === ''){
        alert('No info to submit!');
        return
      }
      this.request = {
        'username': this.username,
        'detail': this.infoText
      }
      this.$http.post(this.submitInfoUrl + this.pbtId.toString(), this.request)
        .then(response => {
          return response.json();
        }).then(data => {
             if(data.result){
               this.submitMessage = 'Submitted Successfully, please wait for approval. Thank you!'
             }else{
               this.submitMessage = 'Unble to submit the info this time please try again later.'
             }
          }).catch(err => {
            //console.log(err);
            this.submitMessage = 'Unble to submit the info this time please try again later.'
        });
        this.showmessage = true;
        this.infoText = '';
        this.editTextArea = false;
    },
    showInfoText(){
      this.showmessage = false;
      this.username = '';
      this.editTextArea = !this.editTextArea;
    }
  }
}
</script>

<style scoped>
.info{
  cursor: pointer;
}
.info:hover{
  background-color: #ffe2e2;
}
</style>
