
<template>
  <div class="autocomplete">
    <div class="container">
      <div class="form-group">
        <h3 class="text-center">Enter a Place Below</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input class="form-control"
              type="text" @input="onChange" v-model="search"
              @keydown.down="onArrowDown"
              @keydown.up="onArrowUp"/>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results">
            <li class="loading" v-if="isLoading">
              Loading results...
            </li>
            <li v-else v-for="(result, i) in results"
              :key="i"
              @click="setResult(result)"
              class="autocomplete-result"
              :class="{ 'is-active': i === arrowCounter }">
              {{ result }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <button type="submit" @click="submitSearch(places[search])" class="btn btn-primary pull-right">Submit</button>
        </div>
      </div>

      <!-- recent searches -->
      <div class="row">
        <div class="col-md-2 col-xs-12 hidden-xs hidden-sm" style="margin-top:2px;margin-bottom:30px;">
          <a :href="uktravUrl"><img :src="uktravAdImage" class="img-responsive"></img></a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 visible-xs visible-sm" style="margin-top:2px;margin-bottom:30px;">
          <a :href="uktravUrl"><img :src="uktravAdImageMob" class="img-responsive"></img></a>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-1">
          <div class="panel-heading">
              <h4>Recent Searches</h4>
          </div>
          <div class="row">
            <div class="panel panel-default col-xs-6 col-sm-6 col-md-6 recent" v-for="place in recentSearches" @click="submitSearch(place.id)">
              <div class="panel-body">
                {{ place.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12 col-md-offset-1 hidden-xs hidden-sm" style="margin-top:2px;margin-bottom:30px;">
          <a><img :src="blankAdImage" class="img-responsive"></img></a>
        </div>
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 visible-xs visible-sm" style="margin-top:2px;margin-bottom:30px;">
          <a><img :src="blankAdImageMob" class="img-responsive"></img></a>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  export default {
    name: 'autocomplete',

    props: {
      items: {
        type: Array,
        required: true,
        default: () => [],
      },
      isAsync: {
        type: Boolean,
        required: false,
        default: false,
      },
      places: {
        type: Object,
        required: true,
        default: false,
      },
      recentSearches: {
        type: Array,
        required: true,
        default: false,
      }
    },

    data() {
      return {
        isOpen: false,
        results: [],
        search: '',
        isLoading: false,
        arrowCounter: 0,
        getPlaceDetailUrl : 'http://node.uttarakhandtraveller.com/places/',
        //getPlaceDetailUrl: 'http://localhost:3000/places/',
        place_detail: {},
        uktravAdImage: 'http://www.uttarakhandtraveller.com/media/places/None/uktrav_ad.jpg',
        uktravUrl: 'http://www.uttarakhandtraveller.com',
        blankAdImage: 'http://www.uttarakhandtraveller.com/media/places/None/blank_ad.jpg',
        uktravAdImageMob: 'http://uttarakhandtraveller.com/media/places/None/ukrav_ad_mobile.jpg',
        blankAdImageMob: 'http://uttarakhandtraveller.com/media/places/None/blank_ad_mobile.jpg'
      };
    },

    methods: {
      // On submit A get call is made to server tp get details of the searched place
      submitSearch(pbtId){
        //var pbtId = this.places[this.search];
        if(pbtId === undefined){
          alert('Sorry, no info about this place :(');
          this.search = ''
          return
        }
        this.$http.get(this.getPlaceDetailUrl + pbtId.toString())
          .then(response => {
            return response.json();
          }).then(data => {
               if(data.result){
                 this.place_detail = data.place;
                 this.$emit('place_detail', this.place_detail);
                 this.$emit('has_details', true);
                 this.$emit('showSpin',true);
                 var vm = this;
                 setTimeout(function(){
                    vm.$emit('showSpin',false);
                  }, 2000);
               }else{
                 alert('Some Error while getting data');
               }
            });
        this.search = '';
      },
      onChange() {
        // Let's warn the parent that a change was made
        this.$emit('input', this.search);
        // Is the data given by an outside ajax request?
        if (this.isAsync) {
          this.isLoading = true;
        } else {
          // Let's  our flat array
          this.filterResults();
          this.isOpen = true;
        }
      },

      filterResults() {
        // first uncapitalize all the things
        this.results = this.items.filter((item) => {
          return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
        });
      },
      setResult(result) {
        this.search = result;
        this.isOpen = false;
      },
      onArrowDown(evt) {
        if (this.arrowCounter < this.results.length) {
          this.arrowCounter = this.arrowCounter + 1;
        }
      },
      onArrowUp() {
        if (this.arrowCounter > 0) {
          this.arrowCounter = this.arrowCounter -1;
        }
      },
      /*
        on enter has been removed from template
        onEnter() {
        this.search = this.results[this.arrowCounter];
        this.isOpen = false;
        this.arrowCounter = -1;
        this.getPlaceDetails();;
      }, */
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target)) {
          this.isOpen = false;
          this.arrowCounter = -1;
        }
      }
    },
    watch: {
      items: function (val, oldValue) {
        // actually compare them
        if (val.length !== oldValue.length) {
          this.results = val;
          this.isLoading = false;
        }
      },
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside)
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside)
    }
  };
</script>

<style>
  .autocomplete {
    position: relative;
  }

  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
    width: 100%;
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }

  .autocomplete-result.is-active,
  .autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
  }

  .panel-body{
        font-family:  "Times New Roman", Times, serif;
        font-size: 18px;
        color: #6e6e6e;
    }

  .recent{
    cursor: pointer;
  }

  .recent:hover{
    background-color: #ffe2e2;
  }
</style>
