<template>
    <!--This is body of the Main Page  -->
    <div class="container">
      <div class="row">
          <!-- Search Component will send the Place -->
          <app-search :items="placeNames" :places="placeMap" :recentSearches="recentSearches"
          @place_detail="placeDetail = $event"
          @has_details="hasDetails = $event"
          @showSpin="showSpin = $event"></app-search>
      </div>

      <!-- Showing t  <div class="col-md-2">
            <img :src="uktravAdImage" class="img-responsive"></img>
          </div>he detail for the selected Place -->
      <div class="row" v-show="hasDetails">
        <div class="container">
        <!-- Image -->
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h3>{{ placeDetail.name }}{{ placeDetail.location }}</h3>
            <div v-show="showSpin" class="spinner"></div>
            <img v-show="!showSpin" class="img-responsive" :src="placeDetail.image" style="width:600px;height:300px;"/>
          </div>
        </div>

        <!-- Detail area -->
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel-heading">
                <h4> Best Time to Visit {{ placeDetail.name }}</h4>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>{{ placeDetail.detail }}</p>
                <p> To know more about {{ placeDetail.name }} <br/> click here <a :href="placeDetail.place_url">{{placeDetail.name}}</a></p>
              </div>
           </div>
         </div>
        </div>
        <div class="row">
          <app-edit-info :pbtId="placeDetail.id"></app-edit-info>
        </div>
       </div>
     </div>
     <div class="row" v-show="!hasDetails">
       <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
         <div class="panel panel-default">
           <div class="panel-body">
             <b>About Us</b>
             <p>Best Time to Visit is a single page app made by the team of <a :href="uktravUrl"> Uttarakhand Traveller</a> in contribution to Uttarakhand Tourism.
              It's sole purpose is to provide Best-Time-to-Visit as its the most frequently asked question when someone plans for a visit.</p>
             <hr/>
             <b>How to Use</b>
             <p>Simply start typing the place/destination name and it appears in the dropdown menu and click on it to select it then submit it.
             If the place exists in our database, it will be shown right away, else a message will tell you its not.</p>
             <hr/>
             <b>Open for Contribution</b>
             <p>When you get detail of any place, it has an option to edit the information. As soon as you click that you have option to submit your knowledge.
             Once you submit the information, it is sent for approval and once approved it edits the current info for the place. In this way, you can correct us, help Uttarakhand Tourism.</p>
             <hr/>
             <b>Contact Us</b>
             <p>Email us at uttarakhandtraveler@gmail.com</p>
             <b>Social Media</b>
             <a :href="facebookUrl"><i class="fa fa-lg fa-facebook-square" aria-hidden="true"></i></a>
             <a :href="instagramUrl"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
             <hr/>
             <b> Special Thanks</b>
             <p> Concept by Bhartendu Mehta </p>
             <hr/>
             <p class="text-center">Developed for the <i class="fa fa-lg fa-heart" aria-hidden="true"></i> of Uttarakhand by arundeepak <a :href="deepakLinkedin"><i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i></a></p>
           </div>
        </div>
      </div>
     </div>

     <div class="row">
       <br/><br/>
     </div>
    </div>
</template>

<script>
import Search from './components/Search.vue';
import EditInfo from './components/EditInfo.vue';
import Vue from 'vue'
export default {
  data () {
    return {
      placeNames: [], // Showing Places in Search autocomplete
      placeDetail: {}, // Keeping details of the searched place
      hasDetails: false, // Keeping track if place search was made
      placeMap : {}, //place vs pbtId mapping
      getPlacesUrl : 'http://node.uttarakhandtraveller.com/places/',
      //getPlacesUrl: 'http://localhost:3000/places/',
      placeImage: '',
      showSpin: false,
      recentSearches: [],
      uktravUrl: 'http://www.uttarakhandtraveller.com',
      deepakLinkedin: 'https://www.linkedin.com/in/deepak-mehta-1955684b/',
      instagramUrl : 'http://instagram.com/uttarakhandtraveller',
      facebookUrl: 'https://www.facebook.com/uttarakhandtravellers/'
    }
  },
  components:{
    'appSearch' : Search,
    'app-edit-info' :  EditInfo
  },
  methods: {
    // Get all the places on Page Load to be shown on Search autocomplete
    getPlaces(){
      this.$http.get(this.getPlacesUrl)
        .then(response => {
          return response.json();
        }).then(data => {
          this.placeNames = data.places;
          this.placeMap = data.placeMap;
          this.recentSearches = data.recentSearches;
        });
    }
  },
  beforeMount(){
    this.getPlaces(); //Calling before page is loaded
  }
}

</script>
<style>
.panel-body{
      font-family:  "Times New Roman", Times, serif;
      font-size: 18px;
      color: #6e6e6e;
  }

.about{
      font-family: 'Arizonia', cursive;
      font-size: 24px;
      color: #6e6e6e;
  }
  .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
</style>
